<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>EnigmaAstrology3.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enigma uses your location to calculate a chart for the current moment.</string>
	<key>NSLocationUsageDescription</key>
	<string>Enigma uses your location to calculate a chart for the current moment.</string>
</dict>
</plist>
